table,
th,
td {
    border: 1px solid #e0e0e0;
    text-align: center;

}

table {
    width: 750px;
    /* padding-top: 1045px; */

}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #909dce;
    color: blacks
}