<mat-toolbar class="toolbar" color="primary" class="mat-elevation-z8">
    <button mat-icon-button (click)="drawer.toggle()">

        <mat-icon>menu</mat-icon>
    </button>
    <span>AG-Test</span>


</mat-toolbar>

<mat-sidenav-container class="sidenav-wrapper">
    <mat-sidenav #drawer opened="true">
        <a [routerLink]="['allitems']">
            <button class="navButton">All Matches</button>
        </a>
        <a [routerLink]="['saveditems']">
            <button class="navButton">Saved Matches</button>
        </a>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>