<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let data "> {{data.id}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
        <th *matHeaderCellDef> CITY </th>
        <td mat-cell *matCellDef="let data"> {{data.city}} </td>
    </ng-container>
    <ng-container matColumnDef="state">
        <th *matHeaderCellDef> STATE </th>
        <td mat-cell *matCellDef="let data"> {{data.state}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>